/* **************************GENERAL**************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
  background-color: #3160E0;
  color: white;
  padding-top: 10px;
}

body {
  background-color: blue;
}

footer {
  background-color: #23272A;
  padding-top: 20px;
}

h2 {
  text-align: center;
}


/* ***************************UTILITY*************************** */

/* .debug {
  background-color: rgba(255, 0, 0, 0.2);
  Color: white;
  border: 2px dashed  black;
  /* min-height: 50px; */
} */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
}

.container-fluid {
  width: 100%;
}

.w-60 {
  width: 60%;
}

 


.w-40 { 
  width: 40%;
}


.row {
  display: flex;
}

.col {
  padding: 5px 10px;

}

.fake-button {
  background-color: #FFFFFF;
  color: black;
  padding: 8px;
  text-align: center;
  line-height: 100%;
  border-radius: 25px;
  max-height: 100%;
}

.fake-button:hover {
  opacity: 0.6;
}



/* ***************************HEADER*************************** */

header span.fake-button {
  font-size: 0.6rem;
}

header .row {
  justify-content: center;
  align-items: center;
  
}
header .row img {
  vertical-align: middle;
}

header ul li{ 
  display: inline-block;
}

header ul li a{ 
  color: white;
  padding-left: 30px;
}

header div.col:nth-child(odd) {
  width: 150px;
}

header div.col:nth-child(2) {
  width: calc(100% - 300px);
  text-align: center
  
}

header div.col:last-child {
  text-align: right;
}

header a {
  text-decoration: none;
}

/* ***************************MAIN*************************** */


main section {
  padding: 50px;

}

section#hero {
  padding: 180px;
}

main section:first-child {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: bottom;
  color: white;

}


main section#hero ~ section:nth-child(odd) {
  background-color: #F6F6F6;
}

main section#hero ~ section:nth-child(even) {
  background-color: white;
}

/* NON FUNZIONA PER PROBLEMA SPECIFICITA', INSERITO ATTRIBUTO STYLE SU HTML

main section#pre-footer:last-child {
  background-color: #23272A;
}

*/


section#hero div {
  max-width: 900px;
  /* height: 400px; /*DEBUG*/  */
} 

section#hero .container {
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

section#hero span.fake-button:last-child {
  background-color: black;
  color: white;
  margin-left: 10px;
}

/* main section div:first-child {
  /* height: 500px; DEBUG */


/* #tecnologia .container {
  
/* height: 1000px; DEBUG */


/*SEZIONE INVITO*/

 section#invito div.row{
    margin-top: -182px;
  }
section#invito div .col.w-60 {
  padding-top: 211px;
  flex-wrap: wrap;
  align-content: center; 
  }  

section#invito div .col.w-40 {
  padding-top: 100px;
  flex-wrap: wrap;
  flex-direction: flex-start;
  align-content: center;
  text-align: left;
 
}

section#invito h2{
  margin-bottom: 10px;
  text-align: left;
}

/*SEZIONE INVITO*/

/*SEZIONE DOVE */

section#dove div.row{
  margin-top: -182px;
}
section#dove div .col.w-60 {
padding-top: 211px;
flex-wrap: wrap;
align-content: center; 
}  

section#dove div .col.w-40 {
padding-top: 100px;
flex-wrap: wrap;
flex-direction: flex-start;
align-content: center;
text-align: left;

}

section#dove img {
padding-top: 20px;
}
section#dove h2{
margin-bottom: 10px;
text-align: left;
}

/*SEZIONE DOVE*/

/*SEZIONE FANDOM*/

section#fandom div.row{
  margin-top: -182px;
}
section#fandom div .col.w-60 {
padding-top: 211px;
flex-wrap: wrap;

}  

section#fandom div .col.w-40 {
padding-top: 100px;
flex-wrap: wrap;
flex-direction: flex-start;
align-content: center;
text-align: left;

}

section#fandom img {
  padding-top: 20px;
}
section#fandom h2{
margin-bottom: 10px;
text-align: left;
}


/*SEZIONE FANDOM*/

/*SEZIONE FINALE MAIN*/

section#tecnologia {
  text-align: center;
}

div.stella {
  margin: 0 auto 20px;
  width: 300px;
  background-image:url(../img/stars.svg);
  background-size: cover;
  background-position: bottom;
}

span.fake-button {
  background-color: #8FA1E1;
}

/*SEZIONE FINALE MAIN*/

#pre-footer .col:not(:first-child) {
  background-color: aqua;
  width: 200px;
}

#pre-footer .col:first-child {
  background-color: pink;
  width: calc(100% - 800px);
}

div .col.w-60 img {
max-width: 100%;
}



/* ***************************FOOTER*************************** */

footer .container {
  padding: 10px 0 10px;
  background-color: aquamarine;
}

footer .container .row {
  justify-content: space-between;
}